.DS_Store
.vscode
*.egg-info
*.pyc
.cache
.eggs
.mypy_cache
.tox
build/
datasets/
__pycache__
_venv*
dist
.python-version
.pytest_cache
.coverage
.idea
notebooks/local-mode/datasets/
notebooks/local-mode/experiments/
notebooks/**/*.md
**/.ipynb_checkpoints/
*BranchRevision.json
venv/
