Sphinx>=4,<5
sphinx-multiversion==0.2.4
gitpython==3.1.27
sphinx-rtd-theme==0.5.2
sphinxcontrib-restbuilder==0.3
nbconvert==6.1.0

## This is a dependency from cortex-python (pre-v6.1.0) that was removed, but it must be installed in the environment
## to build docs for earlier versions of the library.
##pyjwt>=1.6.1,<2
